@font-face {
    font-family: "Source Han Serif KR";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/NotoSerifCJKkr-Light-subset.woff2");
}

@font-face {
    font-family: "Source Han Serif KR";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/NotoSerifCJKkr-Bold-subset.woff2");
}

@font-face {
    font-family: "GoBold";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Gobold_Light.woff2");
}

body {
    font-family: "Raleway", "Nanum Gothic", sans-serif;
    font-style: normal;
    font-weight: 400;
}

#banner-title {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

#banner-title h1 {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 700;
    margin: 20px 0 24px 0;
}

@media (max-width: 769px) {
    #banner-title h1 {
        font-size: 2em;
    }
}

@media (max-width: 600px) {
    #banner-title h1 {
        font-size: 1.5em;
    }
}

@media (max-width: 414px) {
    #banner-title h1 {
        font-size: 1em;
    }
}

#content {
    font-family: "Source Han Serif KR", serif;
    font-weight: 300;
}

#content-title {
    font-family: "Source Han Serif KR", serif;
    font-weight: 300;
}

#content strong {
    font-family: "Source Han Serif KR", serif;
    font-weight: 500;
}

#editor {
    font-family: "Source Han Serif KR", serif;
    font-weight: 300;
}

#editor strong {
    font-family: "Source Han Serif KR", serif;
    font-weight: 500;
}
