@font-face {
    font-family: "Source Han Serif KR";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/NotoSerifCJKkr-Light-subset.woff2");
}

@font-face {
    font-family: "Source Han Serif KR";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/NotoSerifCJKkr-Bold-subset.woff2");
}

@font-face {
    font-family: "GoBold";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Gobold_Light.woff2");
}

#banner-title {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

#banner-title h1 {
    font-family: "GoBold", sans-serif;
    font-weight: 300;
    margin: 20px 0 24px 0;
}

#content {
    font-family: "Source Han Serif KR", serif;
    font-weight: 300;
}

#content-title {
    font-family: "Source Han Serif KR", serif;
    font-weight: 300;
}

#content strong {
    font-family: "Source Han Serif KR", serif;
    font-weight: 500;
}

#editor {
    font-family: "Source Han Serif KR", serif;
    font-weight: 300;
}

#editor strong {
    font-family: "Source Han Serif KR", serif;
    font-weight: 500;
}
