#init-box {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #ccc;
    width: 100vw;
    height: 100vh;
}

@media screen and (orientation:portrait) {
    #init-box {
        height: 100vh;
        width: 100vw;
    }
}
@media screen and (orientation:landscape) {
    #init-box {
        height: 100vh;
        width: 100vw;
    }
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.aligner-item {
    max-width: 400px;
}

.aligner-item h1 {
    font-family: "GoBold", sans-serif;
    font-weight: 300;
}

@media (max-width: 414px) and (orientation:portrait) {
    .aligner-item {
        max-width: 300px;
    }
}
